body {
    font-family: 'Alexandria', sans-serif;
    background-color: #FFFAF6;
    font-weight: lighter;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
    margin: 0;
    width: 100%; */
}

.page-div {
    display: flex;
    width: 100%;
    height: 100vh;
}

#response-box {
    scroll-behavior: smooth;
    animation: bounce-back 0.5s ease-in-out;
}

#white-box {
    display: block;
    margin: auto;
    width: 95%;
    height: 90%;
    background: white;
    border-radius: 10px;
}

#logo-container {
    width: 40%;
    height: 100%;
}

#title-container {
    width: 60%;
    height: 100%;
}

.logo {
    float: right;
    width: 50%;
    height: auto;
    max-width: 180px;
    /* left: 60%; */
    top: 40%;
    position: relative;
    padding-right: 30px;
}

/* #title-div {
    height: 50%;
} */

.title {
    padding-left: 10px;
    width: 50%;
    height: auto;
    max-width: 400px;
    /* top: 75%; */
    position: relative;
}

/* #subtitle-div {
    height: 10%;
} */

.subtitle {
    padding-top: 20px;
    padding-left: 10px;
    width: 80%;
    height: auto;
    max-width: 600px;
}

#title-button-group {
    margin: 0;
    position: absolute;
    top: 40%;
}

#button-div {
    padding-left: 10px;
    padding-top: 20px;
}


.start-button {

    border-radius: 50px;
    background: linear-gradient(273deg, #74CDE9 4.95%, #2DA5CA 93.62%);
    box-shadow: 0px 4px 20px 0px rgba(115, 193, 217, 0.62);
    padding: 10px 20px;
    /* Adjust padding as needed */
    cursor: pointer;
    border: none;
    color: white;
    /* Adjust font size as needed */
    font-family: 'Alexandria', sans-serif;
    font-weight: lighter;
    line-height: normal;
    font-size: 18px;
    max-width: 40%;
    width: 30%;
    height: auto;
    position: absolute;
}

/* .start-button:hover {
    border: 2px solid #FFDD86;
} */

.p {
    font-weight: lighter;
}

@keyframes bounce-back {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
        /* Adjust the bounce height as needed */
    }

    100% {
        transform: translateY(0);
    }
}

.circle-container {
    text-align: center;
    width: 20%;
    margin: auto;
    display: inline-block;
}

#step1-circle {
    width: 50px;
    height: 50px;
    background-color: #73C1D9;
    border-radius: 50%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
}

#step2-circle {
    opacity: 0.3;
    width: 50px;
    height: 50px;
    background-color: #41575E;
    border-radius: 50%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: light;
    text-decoration: none;
}

#step3-circle {
    opacity: 0.3;
    width: 50px;
    height: 50px;
    background-color: #41575E;
    border-radius: 50%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: light;
    text-decoration: none;
}

.selected-circle-text {
    margin: 16px;
    color: #41575E;
    font-weight: light;
}

.unselected-circle-text {
    margin: 16px;
    color: #41575E;
    font-weight: light;
    opacity: 0.5;
}

.all-circles {
    padding-top: 4%;
    width: 80%;
    margin: auto;
    display: flex;
}

.entry-label {
    font-size: 16px;
    color: #222E32;
}

.entry-input {
    width: 100%;
    height: 30px;
    font-family: 'Alexandria', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    opacity: 0.8;

}

input:focus {
    outline: none;
    border: 2px solid #73C1D9;
}

textarea:focus {
    outline: none;
    border: 2px solid #73C1D9;
}

.basics-entry {
    margin: auto;
    width: 45%;
    margin-top: 3%;
}

.entry-method {
    margin: auto;
    width: 45%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #222E32;
}

.entry-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #222E32;
    font-size: 16px;
}

.circle {
    width: 15px;
    height: 15px;
    border: 1px solid #222E32;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 9px;
    height: 9px;
    background-color: #73C1D9;
    /* Filled circle color */
    border-radius: 50%;
    display: none;
    /* Initially hidden */
}

.option-text {
    cursor: pointer;
}

.selected {
    color: #73C1D9;
    border-color: #73C1D9;
}

#next-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.next-button {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50px;
    background: #73C1D9;
    padding: 10px 20px;
    /* Adjust padding as needed */
    cursor: pointer;
    border: none;
    color: white;
    /* Adjust font size as needed */
    line-height: normal;
    font-family: 'Alexandria', sans-serif;
    font-size: 18px;
    max-width: 40%;
    width: 15%;
    height: auto;
    text-align: center;
}

#backButton-step2-text {
    margin-right: 30px;
}

#backButton-step2-file {
    margin-right: 30px;
}

#nextButton-step2-text {
    margin-left: 30px;
}

#nextButton-step2-file {
    margin-left: 30px;
}

.back-button {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50px;
    background: #41575E;
    opacity: 0.2;
    padding: 10px 20px;
    /* Adjust padding as needed */
    cursor: pointer;
    border: none;
    color: white;
    /* Adjust font size as needed */
    line-height: normal;
    font-family: 'Alexandria', sans-serif;
    font-size: 18px;
    max-width: 40%;
    width: 15%;
    height: auto;
    text-align: center;
}

#buttons-div {
    padding-top: 50px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

#step2-page-file {
    padding-top: 3%;
}

.drop-zone {

    width: 45%;
    height: 300px;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    margin: auto;
    color: #41575E;
    font-size: 16px;
}

.drop-zone.dragover {
    border-color: #007bff;
    background-color: #74CDE9;
    opacity: 0.1;
}

.progress-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.progress-bar {
    width: 45%;
    height: 20px;
    background-color: #ccc;
    position: relative;
}

.progress-fill {
    height: 100%;
    background-color: #007bff;
    width: 0;
    transition: width 0.2s ease-in-out;
    position: absolute;
}

.background-entry {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#bg-entry-label {
    text-align: left;
}

.background-entry-input {
    padding-left: 0;
    padding-top: 0;
    width: 60%;
    height: 300px;
    font-family: 'Alexandria', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
}

div.img-container {
    display: inline-block;
}

p.img-text {
    text-align: center;
    color: #41575E;
}

.iceberg-clickables {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

#step3-instruction {
    padding-top: 30px;
    text-align: center;
}

.image-group {
    text-align: center;
    /* Center-align text */
}

.image-group img {
    display: block;
    /* Make sure the image is a block element for centering */
    margin: 0 auto;
    margin-top: 40px;
    /* Horizontally center the image */
}

.image-group .result-text {
    margin: 0;
    font-size: 12px;
    color: #222E32;
    /* Remove any default margin */
    margin-top: 10px;
}

.iceberg {
    display: flex;
    align-items: center;
}

.step3-column-left {
    align-items: center;
    width: 45%;
    height: 100%;
}

.step3-column-right {
    align-items: center;
    width: 55%;
    height: 100%;

}

.iceberg-text {
    display: flex;
    font-size: 14px;
    color: #222E32;
    margin-right: 20px;
}

#step3-results-title-self {
    text-align: center;
}

#step3-results-title-counter {
    text-align: center;
}

#step3-results-title-css {
    text-align: center;
}

.clickable:hover {
    cursor: pointer;
    /* Change to a pointer cursor on hover */
}

.spinning {
    cursor: not-allowed;
    /* Optional: Change cursor to not-allowed when spinning */
    pointer-events: none;
    /* Disable pointer events when spinning */
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 2px dashed white;
    /* Adjust the dashed circle style as needed */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    /* Add spinning animation */
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Show the spinner when the button is in the spinning state */
.next-button.spinning .spinner {
    visibility: visible;
}